<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spots</key>
	<array>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>node</key>
				<true/>
				<key>color</key>
				<string>1,0,0</string>
			</dict>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>node</key>
				<true/>
				<key>color</key>
				<string>1,0,0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>node</key>
				<true/>
				<key>color</key>
				<string>0,0,1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>node</key>
				<true/>
				<key>color</key>
				<string>0,0,1</string>
			</dict>
		</array>
	</array>
	<key>width</key>
	<integer>6</integer>
	<key>height</key>
	<integer>6</integer>
</dict>
</plist>
